@charset "UTF-8";

body , ul , li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 17px;
    
}

header {
    background: gray;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
ul , li , a{
    
    display: flex;
    margin-left: 10px;
    padding: 10px;

}
