@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;    
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}
nav > ul > li > a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Typical device break points
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Destop: 992px até 1200px 
Grande telas: acima de 1200px
*/

@media screen and (max-width: 1200px) and (min-width:767px) {
    header {
        background: red;
        padding: 10px;
    }
}
