@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}
header {  
    background: black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    flex-direction: row-reverse;
}
i#burguer{
    color: white;
    display: block;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    color: black;
}
menu {
    display: none;
}
menu > ul > li > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    border-top: 2px solid black;
    border-radius: 20px;
}
menu > ul > li > a:hover {
    background-color: red;
}

@media screen and (min-width: 768px) {
    header >  menu > ul > li {
        background: black;
        display: inline-block;
    }
    i#burguer{
        display: none;  
    }
    menu { 
    display: block;
    }
}

/* vitoria */

.vitoria {
    background-image: url(../imagem/torcida01.jpg);
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.vitoria > h1 {
    color: white;
    font-size: 2rem;
}
.vitoria > .btn {
   /* font-family: 'Courier New', Courier, monospace; */
   border-radius: 4px;
   padding: 20px 50px;
   color: black;
   text-decoration: none;
   background-color:#fff;
   text-transform: uppercase;
}
.vitoria > .btn:hover{
    background-color: red;
}
.conheca-o-vitoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  50px;
}
.conheca-o-vitoria h2 {
    font-size: 1,5rem;
    margin-bottom: 20px;
}
.conheca-o-vitoria p {
    max-width:  600px;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
    padding: 50px;
}

.conheca-o-vitoria .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.conheca-o-vitoria > hr {
    width: 200px;
    height: 1px;
    margin-bottom: 70px;
    border: none;
}
.vitoria72 > img  {
    width: 620px;
}
.arena {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.arena > h2 {
    font-size: 1,5rem;
    margin-bottom: 20px;
}
.arena > p {
    max-width: 500px;
    margin-bottom: 30px;
    text-align: center;
}
.arena hr {
    width: 200px;
    height: 1px;
    border: none;
    background-color: black;
}
.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
main > img{
    max-width: 338px;
    width: 100%;
    height: 250px;
}



@media screen and (max-width: 800px) {
    .conheca-o-vitoria p {
        font-size: 1rem;
    }
    .vitoria72 > img  {
        max-width: 457px;
    }
    .grid img {
        width: 470px;
    }
    main    > img {
        width: 475px;
    }
}